<!DOCTYPE html>
%html
  %head
    %title Quikly Inbox
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="viewport" content="width=device-width")
    %meta(property="og:title" content="dbinbox: an inbox for your Dropbox")
    %meta(property="og:description" content="By visiting your personal dbinbox, non-Dropbox users will be able to upload files straight into a special 'inbox' folder in your Dropbox.")
    %meta(property="og:url" content="http://inbox.movequikly.com/")
    %meta(property="og:image" content="http://inbox.movequikly.com/img/logo.png")
    %link{rel: "stylesheet", href: url("/css/bootstrap.min.css")}
    %link{rel: "stylesheet", href: url("/css/bootstrap-responsive.min.css")}
    /[if lt IE 7]
      %link{rel: "stylesheet", href: "http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"}
    %link{rel: "stylesheet", href: url("/css/jquery.fileupload-ui.css")}
    %link{rel: "stylesheet", href: url("/css/style.css")}
  %body
    .container
      =yield

    %script{src: url("/js/jquery.min.js")}
    %script{src: url("/js/vendor/jquery.ui.widget.js")}
    %script{src: url("/js/jquery.iframe-transport.js")}
    %script{src: url("/js/jquery.fileupload.js")}
    %script{src: url("/js/jquery.fileupload-fp.js")}
    %script{src: url("/js/jquery.fileupload-ui.js")}
    %script{src: url("/js/app.js")}
    / google analysics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34331519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
